uTools/
clash_win/
Code/
nvim/
coc/
configstore/
wslu/
trash*
__pycache__/

lazygit/state.yml
dconf/user
dwm/
enchant
fcitx
microsoft-edge-dev
neofetch/config.conf
pulse
st/
mimeapps.list
lazygit/.config

user-dirs.locale
user-dirs.dirs
gnome-initial-setup-done
htop/htoprc
gtk-3.0/bookmarks
evolution/sources/system-proxy.source
autostart/cfw.desktop
JetBrains/IdeaIC2022.2
libreoffice/4/user
memos.json
TabNine
picom/
totem/state.ini
vlc
QtProject.conf
pavucontrol.ini
MQTTX
JetBrains/PyCharmCE2022.2
Dharkael/flameshot.ini
bottom/bottom.toml
cef_user_data/WidevineCdm
eog/accels
lazygit/aiortc/Oct  9 23.04.38.788319852.patch
nautilus/search-metadata
Google/AndroidStudio2021.3
obsidian
lazygit/iot-watch-dog/Oct 18 13.22.28.801490707.patch
Android Open Source Project/Emulator.conf
config.yml
edit
query