uTools/
clash_win/
Code/
nvim/
coc/
configstore/
wslu/
trash*
__pycache__/

lazygit/state.yml
dconf/user
dwm/
enchant
fcitx
microsoft-edge-dev
neofetch/config.conf
pulse
st/
mimeapps.list
lazygit/.config

user-dirs.locale
user-dirs.dirs
gnome-initial-setup-done
htop/htoprc
gtk-3.0/bookmarks
evolution/sources/system-proxy.source
autostart/cfw.desktop